<%= form_for @result, url: {action: action}, remote: remote do |post_form| %>
  <div class="form-group">
    <%= post_form.label :title %><br />
    <%= post_form.text_field :title, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= post_form.label :short_description %><br/>
    <%= post_form.text_field :short_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= post_form.label :content %><br/>
    <%= post_form.text_area :content, class: 'form-control' %>
  </div>

  <%= post_form.submit 'Submit', class: 'btn btn-primary'%>
<% end %>